.id1{
    height: 150px;
    width: 125px;
    margin-left: 50px;
    margin-bottom: 600px;
}
.id2{
    height: 150px;
    width: 125px;
    margin-top: 75px;
    margin-right: 150px;
    margin-left: -129px;
    margin-bottom: 350px;

}
.id3{
    height: 150px;
    width: 125px;
    margin-top: 275px;
    margin-right: 150px;
    margin-left: -278px;
    margin-bottom: 100px;
}
